<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>P_TS_M.stl</ImplantFilename>
  <DisplayInformation>MF_108_OS_TS_MINI</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_108_OS_TS_MINI</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0050768852233886719</x>
        <y>7.145205020904541</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4015THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4015THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4015TH_S</DisplayInformation>
      <Keyword>M4015TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.003475189208984375</x>
        <y>7.14783239364624</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4025THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4025THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4025TH_S</DisplayInformation>
      <Keyword>M4025TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.019874274730682373</x>
        <y>7.1504478454589844</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4035THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4035THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4035TH_S</DisplayInformation>
      <Keyword>M4035TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0072917938232421875</x>
        <y>7.1282615661621094</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4045THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4045THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4045TH_S</DisplayInformation>
      <Keyword>M4045TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.001373291015625</x>
        <y>7.1318988800048828</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_S</DisplayInformation>
      <Keyword>M4515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.021049737930297852</x>
        <y>7.1494503021240234</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_S</DisplayInformation>
      <Keyword>M4525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.006786346435546875</x>
        <y>7.1285991668701172</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_S</DisplayInformation>
      <Keyword>M4535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.00074625015258789063</x>
        <y>7.1248784065246582</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_S</DisplayInformation>
      <Keyword>M4545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0086841583251953125</x>
        <y>10.628406524658203</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4015THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4015THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4015TH_L</DisplayInformation>
      <Keyword>M4015TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.024557113647460938</x>
        <y>10.984466552734375</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4025THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4025THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4025TH_L</DisplayInformation>
      <Keyword>M4025TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0051565170288085938</x>
        <y>10.99714469909668</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4035THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4035THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4035TH_L</DisplayInformation>
      <Keyword>M4035TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.019527435302734375</x>
        <y>10.591800689697266</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4045THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4045THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4045TH_L</DisplayInformation>
      <Keyword>M4045TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.013202428817749023</x>
        <y>10.975929260253906</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_L</DisplayInformation>
      <Keyword>M4515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.010354995727539063</x>
        <y>10.985622406005859</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_L</DisplayInformation>
      <Keyword>M4525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.011535406112670898</x>
        <y>11.022270202636719</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_L</DisplayInformation>
      <Keyword>M4535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0048123598098754883</x>
        <y>10.993984222412109</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLMP.stl</MarkerFilename>
      <SupportFilename>OS_TS_M_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>OS_TS_M_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>NBM_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_L</DisplayInformation>
      <Keyword>M4545TH_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>