<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D50_L10.stl</ImplantFilename>
  <DisplayInformation>MF_214_ZIM_TSV45</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_201_AS_AQ-</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0426793098449707</x>
        <y>7.106231689453125</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_S</DisplayInformation>
      <Keyword>M4515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.049603700637817383</x>
        <y>6.9305419921875</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_S</DisplayInformation>
      <Keyword>M4525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.049603700637817383</x>
        <y>7.0421462059021</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_S</DisplayInformation>
      <Keyword>M4535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.01771700382232666</x>
        <y>7.02620267868042</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_S</DisplayInformation>
      <Keyword>M4545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.062000513076782227</x>
        <y>6.9943156242370605</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_S</DisplayInformation>
      <Keyword>M5515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.14171791076660156</x>
        <y>6.9783720970153809</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_S</DisplayInformation>
      <Keyword>M5525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.030113697052001953</x>
        <y>7.0421462059021</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_S</DisplayInformation>
      <Keyword>M5535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.01771700382232666</x>
        <y>7.0421462059021</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_S</DisplayInformation>
      <Keyword>M5545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.002704620361328125</x>
        <y>10.296443939208984</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_L</DisplayInformation>
      <Keyword>M4515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.074064254760742188</x>
        <y>10.080486297607422</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_L</DisplayInformation>
      <Keyword>M4525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0808863639831543</x>
        <y>10.565140724182129</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_L</DisplayInformation>
      <Keyword>M4535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.042101383209228516</x>
        <y>10.587263107299805</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_L</DisplayInformation>
      <Keyword>M4545TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.045610904693603516</x>
        <y>10.64785099029541</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_L</DisplayInformation>
      <Keyword>M5515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.019000053405761719</x>
        <y>10.569953918457031</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_L</DisplayInformation>
      <Keyword>M5525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.037807941436767578</x>
        <y>10.591114044189453</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_L</DisplayInformation>
      <Keyword>M5535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.016660690307617188</x>
        <y>10.610346794128418</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>TSV_45_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>TSV_45_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>TSV_45_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_L</DisplayInformation>
      <Keyword>M5545TH_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>