<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D40_L10_006.stl</ImplantFilename>
  <DisplayInformation>MF_210_NB_ATV_RP</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_100_ARUM_MULTI</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999996185302734</x>
        <y>7.0652399063110352</y>
        <z>0.0406496524810791</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_S</DisplayInformation>
      <Keyword>M4515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>6.3993301391601563</y>
        <z>0.080238059163093567</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_S</DisplayInformation>
      <Keyword>M4525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>6.4218063354492188</y>
        <z>0.040947452187538147</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_S</DisplayInformation>
      <Keyword>M4535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>6.4218063354492188</y>
        <z>0.040947452187538147</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_S</DisplayInformation>
      <Keyword>M4545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>6.4219245910644531</y>
        <z>0.021257683634757996</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_S</DisplayInformation>
      <Keyword>M5515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>6.7115249633789063</y>
        <z>-0.076050475239753723</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_S</DisplayInformation>
      <Keyword>M5525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>6.3549957275390625</y>
        <z>0.060374513268470764</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_S</DisplayInformation>
      <Keyword>M5535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>6.3549957275390625</y>
        <z>0.060374513268470764</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_S</DisplayInformation>
      <Keyword>M5545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.421249389648438</y>
        <z>0.026780128479003906</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_L</DisplayInformation>
      <Keyword>M4515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.421485900878906</y>
        <z>0.13699150085449219</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_L</DisplayInformation>
      <Keyword>M4525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.336456298828125</y>
        <z>0.020087242126464844</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_L</DisplayInformation>
      <Keyword>M4535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.8999977111816406</x>
        <y>10.389617919921875</y>
        <z>0.0612945556640625</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_L</DisplayInformation>
      <Keyword>M4545TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.367295265197754</y>
        <z>0.0669255256652832</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_L</DisplayInformation>
      <Keyword>M5515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.287863731384277</y>
        <z>-0.066862106323242188</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_L</DisplayInformation>
      <Keyword>M5525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.294486999511719</y>
        <z>-0.10617685317993164</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_L</DisplayInformation>
      <Keyword>M5535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-1.9000015258789063</x>
        <y>10.311027526855469</y>
        <z>0.03776097297668457</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>-1</x>
        <y>0</y>
        <z>0</z>
      </AxisAsymmetric>
      <MarkerFilename>NB_ATV_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NB_ATV_R_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>SDR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_L</DisplayInformation>
      <Keyword>M5545TH_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>