<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D43_L10.stl</ImplantFilename>
  <DisplayInformation>MF_114_OS_KS_REGULAR</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_100_ARUM_MULTI</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.026125907897949219</x>
        <y>7.4158945083618164</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_S</DisplayInformation>
      <Keyword>M4515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.18447279930114746</x>
        <y>7.1218361854553223</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_S</DisplayInformation>
      <Keyword>M4525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.053531169891357422</x>
        <y>7.3862848281860352</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_S</DisplayInformation>
      <Keyword>M4535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.079976081848144531</x>
        <y>7.1218361854553223</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_S</DisplayInformation>
      <Keyword>M4545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.23864507675170898</x>
        <y>7.3598403930664063</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_S</DisplayInformation>
      <Keyword>M5515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.052248477935791016</x>
        <y>7.1482810974121094</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_S</DisplayInformation>
      <Keyword>M5525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.00064182281494140625</x>
        <y>7.3069500923156738</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_S</DisplayInformation>
      <Keyword>M5535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.13286542892456055</x>
        <y>7.2540607452392578</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_S</DisplayInformation>
      <Keyword>M5545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.00064182281494140625</x>
        <y>10.400999069213867</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_L</DisplayInformation>
      <Keyword>M4515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.025803804397583008</x>
        <y>10.348110198974609</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_L</DisplayInformation>
      <Keyword>M4525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.21091747283935547</x>
        <y>10.295219421386719</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_L</DisplayInformation>
      <Keyword>M4535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.15931105613708496</x>
        <y>10.427444458007813</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_L</DisplayInformation>
      <Keyword>M4545TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.078693151473999023</x>
        <y>10.744782447814941</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_L</DisplayInformation>
      <Keyword>M5515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.053531169891357422</x>
        <y>10.400999069213867</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_L</DisplayInformation>
      <Keyword>M5525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.052248477935791016</x>
        <y>10.480334281921387</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_L</DisplayInformation>
      <Keyword>M5535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.027086496353149414</x>
        <y>10.480334281921387</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_OS_KS_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_OS_KS_R_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>W_OS_KS_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_L</DisplayInformation>
      <Keyword>M5545TH_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>