<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D35_L10.stl</ImplantFilename>
  <DisplayInformation>MF_105_MG_BD_NARROW</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_105_MG_BD_NARROW</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.092370986938476563</x>
        <y>7.03956413269043</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4015THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4015TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS15T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4015TO_S</DisplayInformation>
      <Keyword>M4015TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.018998146057128906</x>
        <y>7.0511980056762695</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4025THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4025TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS25T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4025TO_S</DisplayInformation>
      <Keyword>M4025TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.016003608703613281</x>
        <y>6.9843235015869141</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4035THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4035TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS35T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4035TO_S</DisplayInformation>
      <Keyword>M4035TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.030533313751220703</x>
        <y>6.985234260559082</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4045THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4045TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS45T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4045TO_S</DisplayInformation>
      <Keyword>M4045TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.002292633056640625</x>
        <y>6.9941396713256836</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4515TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS15T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4515TO_S</DisplayInformation>
      <Keyword>M4515TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.082240104675292969</x>
        <y>7.1091718673706055</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4525TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS25T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4525TO_S</DisplayInformation>
      <Keyword>M4525TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0090537071228027344</x>
        <y>7.0699167251586914</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4535TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS35T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4535TO_S</DisplayInformation>
      <Keyword>M4535TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0076513290405273438</x>
        <y>7.01285457611084</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBSP.stl</MarkerFilename>
      <SupportFilename>SDM_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4545TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS45T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4545TO_S</DisplayInformation>
      <Keyword>M4545TO_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.042642593383789063</x>
        <y>10.264948844909668</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4015THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4015TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS15T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4015TO_L</DisplayInformation>
      <Keyword>M4015TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.041050434112548828</x>
        <y>10.21769905090332</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4025THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4025TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS25T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4025TO_L</DisplayInformation>
      <Keyword>M4025TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.041050434112548828</x>
        <y>10.21769905090332</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4035THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4035TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS35T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4035TO_L</DisplayInformation>
      <Keyword>M4035TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.012811183929443359</x>
        <y>10.208796501159668</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4045THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4045TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS45T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4045TO_L</DisplayInformation>
      <Keyword>M4045TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0321345329284668</x>
        <y>10.256956100463867</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4515TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS15T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4515TO_L</DisplayInformation>
      <Keyword>M4515TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.042077541351318359</x>
        <y>10.238239288330078</y>
        <z>1.8000030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4525TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS25T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4525TO_L</DisplayInformation>
      <Keyword>M4525TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.020599842071533203</x>
        <y>10.322920799255371</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4535TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS35T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4535TO_L</DisplayInformation>
      <Keyword>M4535TO_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.015993118286132813</x>
        <y>10.30329418182373</y>
        <z>1.7999954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>MG_BD_N_SBLP.stl</MarkerFilename>
      <SupportFilename>SDM_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>MG_BD_N_M4545TOP.stl</InterfaceFilename>
      <ScrewFilename>MG_BD_N_MS45T.stl</ScrewFilename>
      <ImplantFilename>F_D35_L10.stl</ImplantFilename>
      <DisplayInformation>M4545TO_L</DisplayInformation>
      <Keyword>M4545TO_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>