<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D35_L10.stl</ImplantFilename>
  <DisplayInformation>MF_212_ST_BLX_RB</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_214_ZIM_TSV45-</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.2172698974609375</x>
        <y>7.1954069137573242</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4515TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TE_S</DisplayInformation>
      <Keyword>M4515TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.046335220336914063</x>
        <y>6.9636845588684082</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4525TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TE_S</DisplayInformation>
      <Keyword>M4525TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.080587387084960938</x>
        <y>6.894012451171875</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4535TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TE_S</DisplayInformation>
      <Keyword>M4535TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.033704757690429688</x>
        <y>6.9683690071105957</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4545TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TE_S</DisplayInformation>
      <Keyword>M4545TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.034870147705078125</x>
        <y>6.9237546920776367</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5515TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TE_S</DisplayInformation>
      <Keyword>M5515TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.038736343383789063</x>
        <y>7.0002188682556152</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5525TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TE_S</DisplayInformation>
      <Keyword>M5525TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.14156913757324219</x>
        <y>6.8859319686889648</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5535TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TE_S</DisplayInformation>
      <Keyword>M5535TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.06803131103515625</x>
        <y>6.9433097839355469</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5545TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TE_S</DisplayInformation>
      <Keyword>M5545TE_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.04106903076171875</x>
        <y>10.126350402832031</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4515TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TE_L</DisplayInformation>
      <Keyword>M4515TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.04303741455078125</x>
        <y>10.211908340454102</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4525TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TE_L</DisplayInformation>
      <Keyword>M4525TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.12314796447753906</x>
        <y>10.301956176757813</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4535TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TE_L</DisplayInformation>
      <Keyword>M4535TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.11548423767089844</x>
        <y>10.243759155273438</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M4545TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TE_L</DisplayInformation>
      <Keyword>M4545TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.07132720947265625</x>
        <y>10.191534042358398</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5515TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TE_L</DisplayInformation>
      <Keyword>M5515TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.10015106201171875</x>
        <y>10.127365112304688</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5525TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TE_L</DisplayInformation>
      <Keyword>M5525TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.059864044189453125</x>
        <y>10.231464385986328</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5535TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TE_L</DisplayInformation>
      <Keyword>M5535TE_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.128509521484375</x>
        <y>10.181346893310547</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_ST_BLX_R_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_ST_BLX_R_M5545TEP.stl</InterfaceFilename>
      <ScrewFilename>W_ST_BLX_R_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TE_L</DisplayInformation>
      <Keyword>M5545TE_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>