<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D35_L10.stl</ImplantFilename>
  <DisplayInformation>MF_201_AS_AQ</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_201_AS_AQ</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0043475627899169922</x>
        <y>7.1495590209960938</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_S</DisplayInformation>
      <Keyword>M4515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.034680843353271484</x>
        <y>7.34722900390625</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_S</DisplayInformation>
      <Keyword>M4525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.1345677375793457</x>
        <y>7.3424129486083984</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_S</DisplayInformation>
      <Keyword>M4535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.032270908355712891</x>
        <y>7.2289419174194336</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_S</DisplayInformation>
      <Keyword>M4545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.064035415649414063</x>
        <y>7.3722372055053711</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_S</DisplayInformation>
      <Keyword>M5515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.091103553771972656</x>
        <y>7.2837533950805664</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_S</DisplayInformation>
      <Keyword>M5525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.02993011474609375</x>
        <y>7.2693338394165039</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_S</DisplayInformation>
      <Keyword>M5535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.052318096160888672</x>
        <y>7.3058738708496094</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_S</DisplayInformation>
      <Keyword>M5545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.039761066436767578</x>
        <y>10.546871185302734</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_L</DisplayInformation>
      <Keyword>M4515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.10008049011230469</x>
        <y>10.553610801696777</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_L</DisplayInformation>
      <Keyword>M4525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0808863639831543</x>
        <y>10.565140724182129</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_L</DisplayInformation>
      <Keyword>M4535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.042101383209228516</x>
        <y>10.587263107299805</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_L</DisplayInformation>
      <Keyword>M4545TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.045610904693603516</x>
        <y>10.64785099029541</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_L</DisplayInformation>
      <Keyword>M5515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.019000053405761719</x>
        <y>10.569953918457031</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_L</DisplayInformation>
      <Keyword>M5525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.037807941436767578</x>
        <y>10.591114044189453</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_L</DisplayInformation>
      <Keyword>M5535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.016660690307617188</x>
        <y>10.610346794128418</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>W_AS_AQ_SBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>W_AS_AQ_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>W_AS_AQ_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_L</DisplayInformation>
      <Keyword>M5545TH_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>