<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>1</z>
  </AxisAsymmetric>
  <ImplantFilename>P_NB_R.stl</ImplantFilename>
  <DisplayInformation>MF_100_NB_REGULAR_35_50</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_100_NB_REGULAR_35_50</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.077710509300231934</x>
        <y>7.2665185928344727</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4513RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4513RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS13R.stl</ScrewFilename>
      <DisplayInformation>SAL_4513RP_S</DisplayInformation>
      <Keyword>SAL_4513RP_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.044688105583190918</x>
        <y>7.2531619071960449</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4523RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4523RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS23R.stl</ScrewFilename>
      <DisplayInformation>SAL_4523RP_S</DisplayInformation>
      <Keyword>SAL_4523RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0485042929649353</x>
        <y>7.3010039329528809</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4533RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4533RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS33R.stl</ScrewFilename>
      <DisplayInformation>SAL_4533RP_S</DisplayInformation>
      <Keyword>SAL_4533RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.073955535888671875</x>
        <y>7.2421112060546875</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4543RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4543RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS43R.stl</ScrewFilename>
      <DisplayInformation>SAL_4543RP_S</DisplayInformation>
      <Keyword>SAL_4543RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.12069320678710938</x>
        <y>7.2360877990722656</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4553RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4553RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS53R.stl</ScrewFilename>
      <DisplayInformation>SAL_4553RP_S</DisplayInformation>
      <Keyword>SAL_4553RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.073963165283203125</x>
        <y>7.2247657775878906</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4515RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4515RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS15R.stl</ScrewFilename>
      <DisplayInformation>SAL_4515RP_S</DisplayInformation>
      <Keyword>SAL_4515RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.09398651123046875</x>
        <y>7.2320976257324219</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4525RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4525RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS25R.stl</ScrewFilename>
      <DisplayInformation>SAL_4525RP_S</DisplayInformation>
      <Keyword>SAL_4525RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.067283630371094</x>
        <y>7.22232437133789</y>
        <z>2.04999923706055</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4535RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4535RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS35R.stl</ScrewFilename>
      <DisplayInformation>SAL_4535RP_S</DisplayInformation>
      <Keyword>SAL_4535RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.087314605712890625</x>
        <y>7.2180900573730469</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4545RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4545RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS45R.stl</ScrewFilename>
      <DisplayInformation>SAL_4545RP_S</DisplayInformation>
      <Keyword>SAL_4545RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.06728363037109375</x>
        <y>7.2223243713378906</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH4555RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4555RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS55R.stl</ScrewFilename>
      <DisplayInformation>SAL_4555RP_S</DisplayInformation>
      <Keyword>SAL_4555RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.05393218994140625</x>
        <y>7.2347831726074219</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5513RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5513RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS13R.stl</ScrewFilename>
      <DisplayInformation>SAL_5513RP_S</DisplayInformation>
      <Keyword>SAL_5513RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.080638885498046875</x>
        <y>7.2272109985351563</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5523RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5523RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS23R.stl</ScrewFilename>
      <DisplayInformation>SAL_5523RP_S</DisplayInformation>
      <Keyword>SAL_5523RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.087310791015625</x>
        <y>7.223876953125</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5533RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5533RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS33R.stl</ScrewFilename>
      <DisplayInformation>SAL_5533RP_S</DisplayInformation>
      <Keyword>SAL_5533RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.040584564208984375</x>
        <y>7.241455078125</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5543RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5543RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS43R.stl</ScrewFilename>
      <DisplayInformation>SAL_5543RP_S</DisplayInformation>
      <Keyword>SAL_5543RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.073963165283203125</x>
        <y>7.2305488586425781</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5553RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5553RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS53R.stl</ScrewFilename>
      <DisplayInformation>SAL_5553RP_S</DisplayInformation>
      <Keyword>SAL_5553RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.07396697998046875</x>
        <y>7.2363204956054688</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5515RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5515RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS15R.stl</ScrewFilename>
      <DisplayInformation>SAL_5515RP_S</DisplayInformation>
      <Keyword>SAL_5515RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.067291259765625</x>
        <y>7.2165412902832031</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5525RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5525RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS25R.stl</ScrewFilename>
      <DisplayInformation>SAL_5525RP_S</DisplayInformation>
      <Keyword>SAL_5525RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.05393218994140625</x>
        <y>7.2405662536621094</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5535RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5535RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS35R.stl</ScrewFilename>
      <DisplayInformation>SAL_5535RP_S</DisplayInformation>
      <Keyword>SAL_5535RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.073963165283203125</x>
        <y>7.2247657775878906</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5545RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5545RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS45R.stl</ScrewFilename>
      <DisplayInformation>SAL_5545RP_S</DisplayInformation>
      <Keyword>SAL_5545RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.080638885498046875</x>
        <y>7.2272109985351563</y>
        <z>2.0499992370605469</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RS.stl</MarkerFilename>
      <SupportFilename>SALH5555RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5555RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS55R.stl</ScrewFilename>
      <DisplayInformation>SAL_5555RP_S</DisplayInformation>
      <Keyword>SAL_5555RP_S</Keyword>
      <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">20</AxisScrewChannelMaxUserAngle>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.041812896728515625</x>
        <y>10.665916442871094</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4513RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4513RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS13R.stl</ScrewFilename>
      <DisplayInformation>SAL_4513RP_L</DisplayInformation>
      <Keyword>SAL_4513RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.013658523559570313</x>
        <y>10.717565536499023</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4523RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4523RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS23R.stl</ScrewFilename>
      <DisplayInformation>SAL_4523RP_L</DisplayInformation>
      <Keyword>SAL_4523RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.062490463256835938</x>
        <y>10.743117332458496</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4533RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4533RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS33R.stl</ScrewFilename>
      <DisplayInformation>SAL_4533RP_L</DisplayInformation>
      <Keyword>SAL_4533RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.024167060852050781</x>
        <y>10.295810699462891</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4543RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4543RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS43R.stl</ScrewFilename>
      <DisplayInformation>SAL_4543RP_L</DisplayInformation>
      <Keyword>SAL_4543RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.052327156066894531</x>
        <y>10.681961059570313</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4553RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4553RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS53R.stl</ScrewFilename>
      <DisplayInformation>SAL_4553RP_L</DisplayInformation>
      <Keyword>SAL_4553RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.008453369140625</x>
        <y>10.675040245056152</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4515RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4515RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS15R.stl</ScrewFilename>
      <DisplayInformation>SAL_4515RP_L</DisplayInformation>
      <Keyword>SAL_4515RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.016283035278320313</x>
        <y>11.103987693786621</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4525RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4525RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS25R.stl</ScrewFilename>
      <DisplayInformation>SAL_4525RP_L</DisplayInformation>
      <Keyword>SAL_4525RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.011262893676757813</x>
        <y>11.040844917297363</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4535RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4535RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS35R.stl</ScrewFilename>
      <DisplayInformation>SAL_4535RP_L</DisplayInformation>
      <Keyword>SAL_4535RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.038938522338867188</x>
        <y>11.041298866271973</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4545RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4545RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS45R.stl</ScrewFilename>
      <DisplayInformation>SAL_4545RP_L</DisplayInformation>
      <Keyword>SAL_4545RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0006103515625</x>
        <y>11.069856643676758</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH4555RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH4555RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS55R.stl</ScrewFilename>
      <DisplayInformation>SAL_4555RP_L</DisplayInformation>
      <Keyword>SAL_4555RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.001094818115234375</x>
        <y>11.097500801086426</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5513RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5513RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS13R.stl</ScrewFilename>
      <DisplayInformation>SAL_5513RP_L</DisplayInformation>
      <Keyword>SAL_5513RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.0037097930908203125</x>
        <y>11.07594108581543</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5523RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5523RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS23R.stl</ScrewFilename>
      <DisplayInformation>SAL_5523RP_L</DisplayInformation>
      <Keyword>SAL_5523RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.10116195678710938</x>
        <y>11.142803192138672</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5533RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5533RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS33R.stl</ScrewFilename>
      <DisplayInformation>SAL_5533RP_L</DisplayInformation>
      <Keyword>SAL_5533RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.074619293212890625</x>
        <y>11.051012992858887</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5543RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5543RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS43R.stl</ScrewFilename>
      <DisplayInformation>SAL_5543RP_L</DisplayInformation>
      <Keyword>SAL_5543RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.05316925048828125</x>
        <y>11.149051666259766</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5553RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5553RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS53R.stl</ScrewFilename>
      <DisplayInformation>SAL_5553RP_L</DisplayInformation>
      <Keyword>SAL_5553RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.11478042602539063</x>
        <y>10.636466979980469</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5515RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5515RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS15R.stl</ScrewFilename>
      <DisplayInformation>SAL_5515RP_L</DisplayInformation>
      <Keyword>SAL_5515RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.028171539306640625</x>
        <y>10.78534984588623</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5525RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5525RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS25R.stl</ScrewFilename>
      <DisplayInformation>SAL_5525RP_L</DisplayInformation>
      <Keyword>SAL_5525RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.028171539306640625</x>
        <y>10.78534984588623</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5535RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5535RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS35R.stl</ScrewFilename>
      <DisplayInformation>SAL_5535RP_L</DisplayInformation>
      <Keyword>SAL_5535RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.031299591064453125</x>
        <y>10.830809593200684</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5545RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5545RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS45R.stl</ScrewFilename>
      <DisplayInformation>SAL_5545RP_L</DisplayInformation>
      <Keyword>SAL_5545RP_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.02144622802734375</x>
        <y>11.063674926757813</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <MarkerFilename>SD_RL.stl</MarkerFilename>
      <SupportFilename>SALH5555RP_EXO.stl</SupportFilename>
      <InterfaceFilename>SALH5555RP_INTERFACE.stl</InterfaceFilename>
      <ScrewFilename>NBLS55R.stl</ScrewFilename>
      <DisplayInformation>SAL_5555RP_L</DisplayInformation>
      <Keyword>SAL_5555RP_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>