<?xml version="1.0" encoding="utf-8"?>
<!-- Created with exoImplantEditor CAD [Engine build 7996] [<64-Bit>]  -->
<ImplantLibraryEntry xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <RegistrationClickCenter>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </RegistrationClickCenter>
  <AxisAsymmetric>
    <x>0</x>
    <y>0</y>
    <z>-1</z>
  </AxisAsymmetric>
  <ImplantFilename>F_D45_L10.stl</ImplantFilename>
  <DisplayInformation>MF_100_NB_REGULAR</DisplayInformation>
  <IsWithInterface>false</IsWithInterface>
  <IsWithRotationLock>true</IsWithRotationLock>
  <Keyword>MF_100_NB_REGULAR</Keyword>
  <SupportOrientation>-1</SupportOrientation>
  <AxisScrewChannelMaxUserAngle IsDesignConstraint="true">30</AxisScrewChannelMaxUserAngle>
  <AxisScrewChannelMinUserAngle IsDesignConstraint="true">0</AxisScrewChannelMinUserAngle>
  <WarrantyInformation>DISCLAIMER OF WARRANTY


THIS DATA IS PROVIDED "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE, ACCURACY, OR MERCHANTABILITY. THE SELLER'S SALESPERSONS MAY HAVE MADE STATEMENTS ABOUT THIS DATA. ANY SUCH STATEMENTS DO NOT CONSTITUTE WARRANTIES AND SHALL NOT BE RELIED ON BY USER IN DECIDING WHETHER TO USE THIS DATA.

THIS DATA IS PROVIDED WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES WHATSOEVER. BECAUSE OF THE DIVERSITY OF CONDITIONS AND HARDWARE UNDER WHICH THIS DATA MAY BE USED, NO WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE IS OFFERED. THE USER IS ADVISED TO TEST THE DATA THOROUGHLY BEFORE RELYING ON IT. THE USER MUST ASSUME THE ENTIRE RISK OF USING THIS DATA AND ACCEPTS IT "WITH ALL ITS FAULTS". THE USER MUST ASSUME THE ENTIRE RISK OF USING THE PROGRAM.
</WarrantyInformation>
  <AxisOcclusal>
    <x>0</x>
    <y>1</y>
    <z>0</z>
  </AxisOcclusal>
  <TypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.023780584335327148</x>
        <y>6.9884262084960938</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_S</DisplayInformation>
      <Keyword>M4515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.057651519775390625</x>
        <y>6.9066944122314453</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_S</DisplayInformation>
      <Keyword>M4525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.069913864135742188</x>
        <y>6.9746780395507813</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_S</DisplayInformation>
      <Keyword>M4535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.05735015869140625</x>
        <y>6.8941655158996582</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_S</DisplayInformation>
      <Keyword>M4545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.01712799072265625</x>
        <y>7.0322041511535645</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_S</DisplayInformation>
      <Keyword>M5515TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.021083831787109375</x>
        <y>6.9767169952392578</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_S</DisplayInformation>
      <Keyword>M5525TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.043537139892578125</x>
        <y>7.0308446884155273</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_S</DisplayInformation>
      <Keyword>M5535TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.05735015869140625</x>
        <y>6.8941655158996582</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBSP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_S</DisplayInformation>
      <Keyword>M5545TH_S</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.096988677978515625</x>
        <y>10.174028396606445</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4515THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M4515TH_L</DisplayInformation>
      <Keyword>M4515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.11336898803710938</x>
        <y>10.141529083251953</y>
        <z>2.0499954223632813</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4525THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M4525TH_L</DisplayInformation>
      <Keyword>M4525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.1537017822265625</x>
        <y>10.230875015258789</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4535THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M4535TH_L</DisplayInformation>
      <Keyword>M4535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.11139297485351563</x>
        <y>10.113784790039063</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M4545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M4545THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M4545TH_L</DisplayInformation>
      <Keyword>M4545TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.10940933227539063</x>
        <y>10.086040496826172</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5515THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5515THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS15T.stl</ScrewFilename>
      <DisplayInformation>M5515TH_L</DisplayInformation>
      <Keyword>M5515TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.07666778564453125</x>
        <y>10.088957786560059</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5525THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5525THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS25T.stl</ScrewFilename>
      <DisplayInformation>M5525TH_L</DisplayInformation>
      <Keyword>M5525TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>0.13973617553710938</x>
        <y>10.236118316650391</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5535THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5535THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS35T.stl</ScrewFilename>
      <DisplayInformation>M5535TH_L</DisplayInformation>
      <Keyword>M5535TH_L</Keyword>
    </ImplantTypeConfig>
    <ImplantTypeConfig>
      <RegistrationClickCenter>
        <x>-0.0074243545532226563</x>
        <y>10.299186706542969</y>
        <z>2.0500030517578125</z>
      </RegistrationClickCenter>
      <AxisAsymmetric>
        <x>0</x>
        <y>0</y>
        <z>1</z>
      </AxisAsymmetric>
      <MarkerFilename>ASBLP.stl</MarkerFilename>
      <SupportFilename>SDR_M5545THP_BASE_EXO.stl</SupportFilename>
      <InterfaceFilename>NBR_M5545THP.stl</InterfaceFilename>
      <ScrewFilename>NBR_MS45T.stl</ScrewFilename>
      <DisplayInformation>M5545TH_L</DisplayInformation>
      <Keyword>M5545TH_L</Keyword>
    </ImplantTypeConfig>
  </TypeConfig>
  <InfoSignature>Not yet signed</InfoSignature>
  <FileSignatures>
    <!--  NOTE! Signature is provided ONLY for specific mesh properties -->
    <!--  NOT for accuracy or suitability to a particular task.         -->
    <!--  A valid signature from the software vendor does NOT imply any -->
    <!--  warranties or statements regarding the data's correctness!    -->
    <FileSignature>
      <Filename />
      <Signature />
    </FileSignature>
  </FileSignatures>
</ImplantLibraryEntry>